name: ROS2 Humble CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  humble:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup ROS
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Debug tree
        run: tree -L 3


      # missing dep
      - name: Install missing ROSIDL runtime
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ros-humble-rosidl-typesupport-c \
            ros-humble-rosidl-typesupport-cpp \
            ros-humble-rosidl-default-runtime
            
      - name: ROS CI
        uses: ros-tooling/action-ros-ci@v0.3
        with:
          target-ros2-distro: humble
          workspace: .
          colcon-defaults: |
            {
              "build": {
                "symlink-install": true
              }
            }
