name: ROS2 Humble CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  humble:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup ROS
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Debug tree
        run: tree -L 3

      - name: ROS CI
        uses: ros-tooling/action-ros-ci@v0.3
        with:
          target-ros2-distro: humble
          workspace: .
          colcon-defaults: |
            {
              "build": {
                "symlink-install": true
              }
            }
