name: Humble CI

on:
  push:
    branches:
      - main

jobs:
  humble_source:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Prepare workspace
        run: |
          mkdir -p ~/ros2_ws/src
          shopt -s extglob
          mv !(ros2_ws) ~/ros2_ws/src || true
          cd ~/ros2_ws
          rosdep update

      - name: Install dependencies
        run: |
          cd ~/ros2_ws
          rosdep install --from-paths src -i -r -y

      - uses: ros-tooling/action-ros-ci@v0.3
        with:
          package-name: kuka_package
          target-ros2-distro: humble
